<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/navBar.css">
    <link rel="stylesheet" href="../public/css/infraAndTeam.css">
    <script src="../public/js/modernizr.js"></script>
    <title>Bajra Exports</title>
</head>

<body>
    <a href="#cd-nav" class="cd-nav-trigger"><span></span></a>
    <nav class="cd-nav-container" id="cd-nav">
        <header>
            <h3>Menu</h3>
            <a href="#0" class="cd-close-nav">Close</a>
        </header>

        <ul class="cd-nav">
            <li data-menu="index">
                <a href="../">
                    <span>
                        <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px"
                            viewBox="0 0 64 64">
                            <g transform="translate(0, 0)">
                                <polyline data-cap="butt" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-miterlimit="10" points="10,24.9 10,60 26,60 26,44 38,44 38,60 54,60 54,24.9 "
                                    stroke-linejoin="square" stroke-linecap="butt"></polyline>
                                <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-linecap="square" stroke-miterlimit="10" points=" 4,30 32,6 60,30 "
                                    stroke-linejoin="square"></polyline>
                                <rect data-color="color-2" x="26" y="24" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-linecap="square" stroke-miterlimit="10" width="12" height="10"
                                    stroke-linejoin="square"></rect>
                            </g>
                        </svg>
                    </span>
                    <em>Home</em>
                </a>
            </li>
            <li data-menu="about">
                <a href="/about">
                    <span>
                        <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px"
                            viewBox="0 0 64 64">
                            <g transform="translate(0, 0)">
                                <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-linecap="square" stroke-miterlimit="10"
                                    points=" 38,16 62,16 62,58 2,58 2,16 26,16 " stroke-linejoin="square"></polyline>
                                <path fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" d="M38,20H26V8 c0-3.3,2.7-6,6-6h0c3.3,0,6,2.7,6,6V20z"
                                    stroke-linejoin="square"></path>
                                <path fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10"
                                    d="M20,38L20,38 c-2.2,0-4-1.8-4-4v-2c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v2C24,36.2,22.2,38,20,38z"
                                    stroke-linejoin="square"></path>
                                <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" x1="38" y1="36" x2="54" y2="36" stroke-linejoin="square">
                                </line>
                                <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" x1="38" y1="44" x2="48" y2="44" stroke-linejoin="square">
                                </line>
                                <path fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10"
                                    d="M30,48H10v0 c0-3.3,2.7-6,6-6h8C27.3,42,30,44.7,30,48L30,48z"
                                    stroke-linejoin="square"></path>
                                <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" x1="32" y1="12" x2="32" y2="10" stroke-linejoin="square">
                                </line>
                            </g>
                        </svg>
                    </span>
                    <em>About</em>
                </a>
            </li>
            <li data-menu="projects">
                <a href="items">
                    <span>
                        <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px"
                            viewBox="0 0 64 64">
                            <g transform="translate(0, 0)">
                                <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-linecap="square" stroke-miterlimit="10" points=" 22,12 22,4 42,4 42,12 "
                                    stroke-linejoin="square"></polyline>
                                <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" x1="44" y1="44" x2="20" y2="44" stroke-linejoin="square">
                                </line>
                                <polyline fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" points="12,44 2,44 2,12 62,12 62,44 52,44 "
                                    stroke-linejoin="square"></polyline>
                                <polyline fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" points="58,44 58,60 6,60 6,44 " stroke-linejoin="square">
                                </polyline>
                                <rect data-color="color-2" x="22" y="22" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-linecap="square" stroke-miterlimit="10" width="20" height="10"
                                    stroke-linejoin="square"></rect>
                                <rect data-color="color-2" x="12" y="40" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-linecap="square" stroke-miterlimit="10" width="8" height="8"
                                    stroke-linejoin="square"></rect>
                                <rect data-color="color-2" x="44" y="40" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-linecap="square" stroke-miterlimit="10" width="8" height="8"
                                    stroke-linejoin="square"></rect>
                            </g>
                        </svg>
                    </span>
                    <em>Products</em>
                </a>
            </li>
            <li class="cd-selected" data-menu="services">
                <a href="/infraAndTeam">
                    <span>
                        <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px"
                            viewBox="0 0 64 64">
                            <g transform="translate(0, 0)">
                                <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-miterlimit="10" x1="46" y1="56" x2="58" y2="44" stroke-linejoin="square"
                                    stroke-linecap="butt"></line>
                                <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-miterlimit="10" x1="24" y1="10" x2="12" y2="22" stroke-linejoin="square"
                                    stroke-linecap="butt"></line>
                                <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-linecap="square" stroke-miterlimit="10" points=" 19,29 6,16 18,4 31,17 "
                                    stroke-linejoin="square"></polyline>
                                <polyline data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-linecap="square" stroke-miterlimit="10"
                                    points=" 45,31 58,44 60,58 46,56 33,43 " stroke-linejoin="square"></polyline>
                                <rect x="21.1" y="2.7" transform="matrix(0.7071 0.7071 -0.7071 0.7071 31 -12.8406)"
                                    fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" width="19.8" height="56.6" stroke-linejoin="square"></rect>
                                <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" x1="24" y1="24" x2="30" y2="30" stroke-linejoin="square">
                                </line>
                                <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" x1="18" y1="30" x2="22" y2="34" stroke-linejoin="square">
                                </line>
                                <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" x1="36" y1="12" x2="42" y2="18" stroke-linejoin="square">
                                </line>
                                <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" x1="30" y1="18" x2="34" y2="22" stroke-linejoin="square">
                                </line>
                                <line fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" x1="12" y1="36" x2="18" y2="42" stroke-linejoin="square">
                                </line>
                            </g>
                        </svg>
                    </span>
                    <em>Infrastructure and Team</em>
                </a>
            </li>
            <li data-menu="careers">
                <a href="/career">
                    <span>
                        <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px"
                            viewBox="0 0 64 64">
                            <g transform="translate(0, 0)">
                                <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0"
                                    stroke-width="2" stroke-miterlimit="10" points="24,40 28,48 36,48 40,40 "
                                    stroke-linejoin="square" stroke-linecap="butt"></polyline>
                                <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-miterlimit="10" x1="24" y1="62" x2="28" y2="48" stroke-linejoin="square"
                                    stroke-linecap="butt"></line>
                                <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-miterlimit="10" x1="36" y1="48" x2="40" y2="62" stroke-linejoin="square"
                                    stroke-linecap="butt"></line>
                                <path data-cap="butt" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-miterlimit="10"
                                    d="M39.7,40H40c12.2,0,22,9.8,22,22v0H2 v0c0-12.2,9.8-22,22-22h0.3"
                                    stroke-linejoin="square" stroke-linecap="butt"></path>
                                <path data-cap="butt" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-miterlimit="10"
                                    d="M47.9,27.5C47.2,35.7,40.3,42,32,42 h0c-8.3,0-15.2-6.4-15.9-14.5"
                                    stroke-linejoin="square" stroke-linecap="butt"></path>
                                <path fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" d="M16,18c0-8.8,7.2-16,16-16 h0c8.8,0,16,7.2,16,16"
                                    stroke-linejoin="square"></path>
                                <path data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-linecap="square" stroke-miterlimit="10"
                                    d="M12.1,18 c0,0.3-0.1,0.7-0.1,1c0,6.1,4.9,11,11,11c3.7,0,7-1.9,9-4.7c2,2.8,5.3,4.7,9,4.7c6.1,0,11-4.9,11-11c0-0.3,0-0.7-0.1-1H12.1z"
                                    stroke-linejoin="square"></path>
                            </g>
                        </svg>
                    </span>
                    <em>Careers</em>
                </a>
            </li>
            <li data-menu="contact">
                <a href="/contact">
                    <span>
                        <svg class="nc-icon outline" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px"
                            viewBox="0 0 64 64">
                            <g transform="translate(0, 0)">
                                <polyline data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0"
                                    stroke-width="2" stroke-miterlimit="10" points="10,18 32,36 54,18 "
                                    stroke-linejoin="square" stroke-linecap="butt"></polyline>
                                <rect x="2" y="10" fill="none" stroke="#9e85d0" stroke-width="2" stroke-linecap="square"
                                    stroke-miterlimit="10" width="60" height="44" stroke-linejoin="square"></rect>
                                <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-miterlimit="10" x1="10" y1="44" x2="18" y2="34" stroke-linejoin="square"
                                    stroke-linecap="butt"></line>
                                <line data-cap="butt" data-color="color-2" fill="none" stroke="#9e85d0" stroke-width="2"
                                    stroke-miterlimit="10" x1="54" y1="44" x2="46" y2="34" stroke-linejoin="square"
                                    stroke-linecap="butt"></line>
                            </g>
                        </svg>
                    </span>
                    <em>Contact</em>
                </a>
            </li>
        </ul> <!-- .cd-3d-nav -->
    </nav>
    <div class="cd-overlay"></div>

    <section id="preLoader">
        <h1 id="preloadHead">Bajra Exports<span></span></h1>
    </section>

    <div class="container__career">
        <div class="header">
            <a href="#" class="logo">Export/Import</a>
        </div>
        <h1>Infrastructure</h1>
        <div class="line"></div>
    </div>
    <div class="Container">
        <div class="right">
            <div id="box1">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure laboriosam sapiente totam quae
                    repellat tenetur corporis ipsum perspiciatis. Omnis iure fugit repellat aspernatur quibusdam sunt
                    mollitia sit maxime sapiente, voluptas magni porro veritatis velit, consectetur alias fuga
                    consequatur eligendi aliquam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum
                    reiciendis vel rem accusamus et possimus, culpa magnam at ipsa voluptates?</p>
            </div>
            <div id="box2">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur et, nesciunt voluptatum excepturi
                    explicabo, pariatur ex commodi expedita voluptas nostrum, neque corrupti quisquam sint quod facilis
                    error modi est rerum recusandae repellat fugiat placeat Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Architecto nulla eveniet officia tempore ut ipsa, totam repellat dolor id quasi.
                </p>
            </div>
        </div>
        <div class="left">
            <div id="box3">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates at consequatur dolor
                    commodi, veritatis quia cumque. Officiis neque illum animi placeat sit aperiam consectetur
                    architecto temporibus suscipit ipsa doloremque nihil aut quod maiores excepturi repudiandae,
                    adipisci ab accusantium non praesentium dolores! Unde maxime commodi molestias quod repudiandae
                    totam. Animi exercitationem in ullam, ipsa nam labore quis architecto eius ratione tempore molestias
                    itaque et esse commodi dicta nobis totam non vel reprehenderit fugiat. Deserunt quas assumenda sed
                    error repellat adipisci!</p>
            </div>
        </div>
        <!-- <footer class="footer-area">
            {{!-- <div class="footer-wave-box">
                <div class="footer-wave footer-animation"></div>
            </div> --}}
            <div class="main">
                <div class="footer">
                    <div class="single-footer">
                        <h4>BAJRA EXPORTS</h4>
                        <p>Lorem ipsum dolor sit amet, di dunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam.
                            Excepteur sint qui officia deserunt Excepteur.</p>
                        <div class="footer-social">
                            <a href="" id="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="" id="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="" id="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="" id="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="single-footer">
                        <h4>main menu</h4>
                        <ul>
                            <li><a href="/"><i class="fas fa-chevron-right"></i> home</a></li>
                            <li><a href="/about"><i class="fas fa-chevron-right"></i> about us</a></li>
                            <li><a href="/items"><i class="fas fa-chevron-right"></i> items</a></li>
                            <li><a href="/infraAndTeam"><i class="fas fa-chevron-right"></i> infrastructure</a></li>
                            <li><a href="/career"><i class="fas fa-chevron-right"></i> careers</a></li>
                            <li><a href="/contact"><i class="fas fa-chevron-right"></i> contact us</a></li>
                        </ul>
                    </div>
                    <div class="single-footer">
                    <h4>quick links</h4>
                    <ul>
                        <li><a href=""><i class="fas fa-chevron-right"></i> privacy policy</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> terms & conditions</a></li>
                        <li><a href=""><i class="fas fa-chevron-right"></i> disclaimer</a></li>
                    </ul>
                </div>
                    <div class="single-footer">
                        <h4>contact us</h4>
                    <ul>
                        <li><a href=""><i class="fas fa-map-marker-alt"></i> North Street, Sydney, Australia</a></li>
                        <li><a href=""><i class="fas fa-mobile-alt"></i> +88 0123 456 789</a></li>
                        <li><a href=""><i class="far fa-envelope"></i> info@demo.com</a></li>
                        <li><a href=""><i class="fas fa-globe-europe"></i> www.demo.com</a></li>
                    </ul>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.4780271964664!2d77.16632621440756!3d28.645402190250664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d02941327385d%3A0x2158dee89bc8ffa7!2sKalindi%20College!5e0!3m2!1sen!2sin!4v1617398341518!5m2!1sen!2sin"
                            width="240" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="copy">
                    <p>&copy BAJRA EXPORTS
                        <script>document.write(new Date().getFullYear())</script>. All Rights Reserved
                    </p>
                </div>
            </div>
        </footer> -->
    </div>
</body>
</body>

<script src="../public/js/jquery-2.1.1.js"></script>
<script src="../public/js/main.js"></script>

</html>