/* Font Family */

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler/Butler_Medium.otf');
}

@font-face {
    font-family: 'Butler Bold';
    src: url('../fonts/Butler/Butler_Bold.otf');
}

@font-face {
    font-family: 'Butler Extra Bold';
    src: url('../fonts/Butler/Butler_ExtraBold.otf');
}

@font-face {
    font-family: 'Butler Light';
    src: url('../fonts/Butler/Butler_Light.otf');
}

@font-face {
    font-family: 'Butler Extra Light';
    src: url('../fonts/Butler/Butler_Ultra_Light.otf');
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header, .header:before {
    background: 50% 50% / cover;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(0, 0, 0, 0.4) url('../img/careerBgPic.jpg');
    background-blend-mode: darken;
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
    opacity: 0.7;
}

.Container {
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 100vh;
    /* background: grey; */
    background: grey;
    line-height: 30px;
    font-weight: lighter;
    padding: 40px;
    color: white;
    text-transform: capitalize;
    opacity: .93;
}

.container__career h1 {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    font-family: "Butler", serif;
    font-size: 8em;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
}

.header {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 2rem;
    margin-top: 4rem;
    /* color: black; */
    color: white;
    text-decoration: none;
    font-family: 'Butler Light', serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    transition: color 0.5s;
}

.logo:hover {
    color: rgb(213, 101, 27);
}

.container__career {
    height: 100vh;
}

.line {
    align-self: end;
    width: 50%;
    border-right: 1px solid white;
    height: 30%;
    /* margin-bottom: 2em; */
    position: relative;
    top: 15%;
}

.line::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0 11px;
    border-color: white transparent transparent transparent;
    right: -.7em;
    bottom: -2px;
}

.Container h1 {
    font-size: 3rem;
    font-family: "Butler", serif;
}

.Container>p {
    margin-bottom: 5rem;
}

.career img {
    box-shadow: 1px 1px 10px black;
    border-radius: 2px;
    width: 45%;
    margin: 0 2em;
}

@media screen and (max-width: 800px) {
    .career img {
        display: none;
    }
}

.career {
    display: flex;
    justify-content: space-between;
}

.career__pc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* 
.career__pc form {
    display: flex;
    flex-direction: column;
}

.career__pc form{
    font-family: "Butler", serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
} */

.formInputs {
    letter-spacing: 1px;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 3rem;
    outline: none;
}

.sendBtn {
    /* width: 50%; */
    border: none;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    padding: 1rem 3rem;
    background: rgb(213, 101, 27);
    transition: all 0.5s ease 0s;
}

.sendBtn:hover {
    transform: scale(1.05);
}