/* Font Family */

@font-face {
  font-family: 'Butler';
  src: url('../fonts/Butler/Butler_Medium.otf');
}

@font-face {
  font-family: 'Butler Bold';
  src: url('../fonts/Butler/Butler_Bold.otf');
}

@font-face {
  font-family: 'Butler Extra Bold';
  src: url('../fonts/Butler/Butler_ExtraBold.otf');
}

@font-face {
  font-family: 'Butler Light';
  src: url('../fonts/Butler/Butler_Light.otf');
}

@font-face {
  font-family: 'Butler Extra Light';
  src: url('../fonts/Butler/Butler_Ultra_Light.otf');
}

/* Scrolling Effects */

.revealLeft {
  overflow: hidden;
  opacity: 0;
  transform: translateX(-120%);
  transition: all 1.5s ease;
}

.activeLeft {
  overflow: hidden;
  opacity: 1;
  transform: translateX(0%);
}

.revealLeftSmall {
  overflow: hidden;
  opacity: 0;
  transform: translateX(-20%);
  transition: all 1.5s ease;
}

.activeLeftSmall {
  overflow: hidden;
  opacity: 1;
  transform: translateX(0%);
}

.revealRight {
  overflow: hidden;
  opacity: 0;
  transform: translateX(20%);
  transition: all 1.5s ease;
}

.activeRight {
  opacity: 1;
  transform: translateX(0%);
  overflow: hidden;
}

.revealBottom {
  opacity: 0;
  transform: translateY(0%);
  transition: all 1.5s ease;
  overflow: hidden;
}

.activeBottom {
  opacity: 1;
  transform: translateY(0%);
  overflow: hidden;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

/* Header Section */

#header {
  height: 95vh;
  background: url("../img/bgPic.jpeg") no-repeat center/cover;
}

#header #headerContent {
  /* background: rgba(0, 0, 0); */
  animation: headBg 1s linear 0s 1 normal;
  animation-fill-mode: forwards;
  height: 100%;
}

@keyframes headBg {
  to {
    background: rgba(192, 191, 191, 0.3);
  }
}

#headerContent div span {
  /* color: #242424; */
  color: navy !important;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: red;
}

#headerLogo span {
  color: navy !important;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: red;
}

#headerContent #headerLogo {
  position: absolute;
  letter-spacing: 3px;
  top: 2em;
  left: 8%;
  font-family: 'Butler Bold', serif;
  font-size: 3em;
  font-weight: bolder;
  opacity: 0;
  animation: headNameTagBg 1s linear 0.5s 1 normal;
  animation-fill-mode: forwards;
  text-transform: uppercase;
}

#headerContent #headerNametag {
  position: absolute;
  z-index: 1;
  letter-spacing: 1px;
  top: 1.8em;
  left: 20%;
  font-family: 'Butler Extra Bold', serif;
  font-size: 10rem;
  width: 37vw;
  font-weight: bold;
  opacity: 0;
  animation: headNameTagBg 1s linear 1s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes headNameTagBg {
  to {
    opacity: 1;
  }
}

#headerContent #headerNametag #line {
  position: absolute;
  z-index: 1;
  letter-spacing: 3px;
  bottom: -20%;
  left: 0%;
  width: 6rem;
  height: 2px;
  /* background-color: white; */
  background-color: #242424;
}

#header #headerImage {
  position: absolute;
  background: url('../img/headerPic.jpeg') no-repeat center center/cover;
  height: 90vh;
  width: 37vw;
  right: 10%;
  top: 30px;
  opacity: 0;
  animation: headNameTagBg 1s linear 1s 1 normal;
  animation-fill-mode: forwards;
}

@media (max-width:400px) {
  #header #headerContent #headerLogo {
    font-size: 1em !important;
  }
  #header #headerContent #headerNametag {
    font-size: 6rem !important;
  }
}

@media (max-width:600px) {
  #header #headerContent #headerLogo {
    font-size: 1.5em;
  }
  #header #headerContent #headerNametag {
    font-size: 8rem;
  }
}

@media (max-width: 800px) {
  #header #headerContent #headerLogo {
    left: 1%;
    top: 20%;
  }
  #header #headerContent #headerNametag {
    left: 2%;
    top: 45%;
  }
  #header #headerImage {
    display: none;
  }
}

/* -------------------------------- 

Main Components 

-------------------------------- */

/* About Section */

#aboutUs {
  background: url('../img/bgBhaiya.jpeg') no-repeat center center/cover;
  background-attachment: fixed;
}

#aboutUs #aboutContent {
  padding: 10em 12em;
  background: rgba(0, 0, 0, 0.7);
}

#aboutUs #aboutContent span {
  color: white;
}

#aboutUs #aboutContent #aboutHeading {
  font-size: 1.3em;
  margin-bottom: 2em;
}

#aboutUs #aboutContent #aboutHeading span {
  color: rgb(213, 101, 27);
  text-decoration: underline;
  font-family: 'Butler Bold', sans-serif;
  letter-spacing: 2px;
  font-size: 3rem;
}

#aboutUs #aboutContent #aboutPhrase {
  font-family: 'Butler Light', sans-serif;
  font-size: 2em;
  margin-bottom: 2em;
  width: 60%;
}

#aboutUs #aboutContent #aboutPara {
  width: 60%;
  font-family: 'Butler Extra Light', sans-serif;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 2em;
}

#aboutUs #aboutContent a button {
  margin: 3rem 0;
  padding: 1rem;
  font-family: 'Butler Light', sans-serif;
  letter-spacing: 2px;
  border-radius: 2rem;
  font-weight: 600;
  box-shadow: 1px 1px #242424;
}

#aboutUs #aboutContent a button:hover {
  color: white;
  background-color: rgb(213, 101, 27);
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width:1200px) {
  #aboutUs #aboutContent {
    padding: 10em 10em;
  }
}

@media screen and (max-width:1000px) {
  #aboutUs #aboutContent #aboutPhrase, #aboutUs #aboutContent #aboutPara {
    width: 100%;
  }
  #aboutUs #aboutContent {
    padding: 10em 8em;
  }
}

@media screen and (max-width:800px) {
  #aboutUs #aboutContent {
    padding: 10em 6em;
  }
}

@media screen and (max-width:600px) {
  #aboutUs #aboutContent {
    padding: 10em 1rem;
  }
}

/* -------------------------------- 

Main Components 

-------------------------------- */

/* Portfolio Images Section */

#portfolio {
  height: 100vh;
  padding: 7% 0px;
}

#portfolio #portfolioSection {
  height: 100%;
}

#portfolio #portfolioSection #portfolioHeading {
  color: #ffffff;
  display: inline-block;
  font-size: 6.5rem;
  font-family: 'Butler Bold', sans-serif;
  font-weight: bold;
  pointer-events: none;
  z-index: 10;
  letter-spacing: 5px;
  position: relative;
  left: 9%;
  top: 3%;
}

#portfolio #portfolioSection #portfolioImagesSection {
  position: relative;
  top: -10%;
  margin-left: 17%;
  width: 74%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#portfolio #portfolioSection #portfolioImagesSection .portfolioImages {
  width: 32%;
  height: 45%;
  margin-bottom: 2%;
  background-color: black;
  overflow: hidden;
}

.hoverChild {
  cursor: pointer;
  height: 100%;
  width: 100%;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  opacity: 1;
}

#pImg1 {
  background: rgba(0, 0, 0, 0.6) url('../img/img1.jpeg') no-repeat center center/cover;
}

#pImg2 {
  background: rgba(0, 0, 0, 0.6) url('../img/img2.jpeg') no-repeat center center/cover;
}

#pImg3 {
  background: rgba(0, 0, 0, 0.6) url('../img/img3.jpeg') no-repeat center center/cover;
}

#pImg4 {
  background: rgba(0, 0, 0, 0.6) url('../img/img4.jpeg') no-repeat center center/cover;
}

#pImg5 {
  background: rgba(0, 0, 0, 0.6) url('../img/img5.jpeg') no-repeat center center/cover;
}

#pImg6 {
  background: rgba(0, 0, 0, 0.6) url('../img/img7.jpeg') no-repeat center center/cover;
}

.hoverParent:hover .hoverChild, .hoverParent:focus .hoverChild {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

#portfolio #portfolioSection #portfolioImagesSection .portfolioImages h1 {
  color: #ffffff;
  font-family: 'Butler Extra Light', serif;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem 1.1rem;
  top: -15%;
  width: 100%;
  height: 20%;
}

.shadowEffect {
  opacity: 0.5;
  transition: opacity 0.7s ease 0s;
}

@media screen and (max-width: 1100px) {
  #portfolio #portfolioSection #portfolioHeading {
    left: 5%;
  }
  #portfolio #portfolioSection #portfolioImagesSection {
    margin-left: 15%;
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  #portfolio #portfolioSection #portfolioImagesSection .portfolioImages {
    width: 40%;
    height: 30%;
  }
  #portfolio #portfolioSection #portfolioImagesSection {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 600px) {
  #portfolio {
    height: 110vh;
  }
  #portfolio #portfolioSection #portfolioImagesSection {
    top: 1%;
  }
  #portfolio #portfolioSection #portfolioImagesSection .portfolioImages h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 510px) {
  #portfolio #portfolioSection #portfolioImagesSection {
    margin: auto;
    width: 85%;
    height: 80%;
  }
  #portfolio #portfolioSection #portfolioImagesSection .portfolioImages {
    width: 45%;
    height: 25%;
  }
}

@media screen and (max-width: 510px) {
  #portfolio #portfolioSection #portfolioImagesSection .portfolioImages h1 {
    top: -20%;
  }
  #portfolio #portfolioSection #portfolioImagesSection .portfolioImages h1 {
    font-size: 0.8rem;
  }
}

/* -------------------------------- 

Main Components 

-------------------------------- */

/* Items Section */

#someItems {
  height: 200vh;
}

.blackBg {
  padding: 12.5%;
  height: 100%;
}

.whiteBg {
  background: white;
}

#someItems .blackBg #itemSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#someItems .blackBg #itemSection .itemContent {
  height: 50%;
}

#someItems .blackBg #itemSection #itemContentPic1 {
  width: 40%;
  height: 50%;
  background: url('../img/img6.jpeg') no-repeat center center/cover;
  border-radius: 5px;
}

#someItems .blackBg #itemSection #itemContentText1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#someItems .blackBg #itemSection #itemContentText1 h1 {
  display: inline-block;
  color: rgb(213, 101, 27);
  font-size: 5rem;
  font-family: 'Butler', serif;
  width: 100%;
  font-weight: 600;
  text-transform: capitalize;
}

#someItems .blackBg #itemSection #itemContentText2 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#someItems .blackBg #itemSection #itemContentText2 div {
  display: inline-block;
}

#someItems .blackBg #itemSection #itemContentText2 div h2 {
  font-size: 3.5rem;
  font-family: serif;
  text-transform: capitalize;
  line-height: 1.3em;
  margin-bottom: 1em;
}

#someItems .blackBg #itemSection #itemContentText2 div p {
  font-size: 1.5rem;
  font-family: 'Butler Extra Light', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 2em;
}

#someItems .blackBg #itemSection #itemContentPic2 {
  width: 55%;
  background: url('../img/img8.jpeg') no-repeat center center/cover;
  border-radius: 5px;
  height: 40%;
}

@media (max-width: 1200px) {
  .blackBg {
    padding: 12.5% 5%;
  }
  #someItems .blackBg #itemSection #itemContentPic1 {
    height: 30%;
  }
}

@media (max-width: 800px) {
  #someItems .blackBg #itemSection #itemContentText1 h1 {
    font-size: 4rem;
    transform: translateY(100px);
  }
}

@media (max-width: 700px) {
  #someItems .blackBg #itemSection {
    flex-direction: column;
  }
  #someItems .blackBg #itemSection #itemContentText2 div h2 {
    font-size: 2.7rem;
  }
  #someItems .blackBg #itemSection #itemContentText2 div p {
    font-size: 1.2rem;
  }
  #someItems .blackBg #itemSection>div {
    width: 100% !important;
    height: 24% !important;
  }
  #someItems .blackBg #itemSection #itemContentPic2 {
    height: 19% !important;
  }
}

/* -------------------------------- 

Main Components 

-------------------------------- */

/* Contact Section */

#bgAttached {
  height: 100vh;
  background: rgba(0, 0, 0, 0.9) url('../img/bgPic1.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  background-blend-mode: darken;
}

#bgAttached #contactsSection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

#bgAttached #contactsSection .contactContent {
  border-top: 10px solid rgb(213, 101, 27);
  border-radius: 10px;
  width: 30%;
  height: 60%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  justify-content: space-around;
  box-shadow: 2px 2px grey;
}

#bgAttached #contactsSection .contactContent h1 {
  font-size: 3rem;
  color: #202020;
  text-transform: capitalize;
  font-family: serif;
  font-weight: bold;
}

#bgAttached #contactsSection .contactContent h2 {
  font-size: 2rem;
  font-weight: 400;
  color: grey;
  font-family: serif;
}

#bgAttached #contactsSection .contactContent .emailBox {
  color: rgb(213, 101, 27);
  border: 1px solid rgb(213, 101, 27);
  background-color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;
  border-radius: 12em;
  transition: all 0.3s;
}

#bgAttached #contactsSection .contactContent .emailBox:hover {
  cursor: context-menu;
  box-shadow: 0 0 2px rgb(213, 101, 27);
  text-shadow: 0 0 0.5px rgb(213, 101, 27);
}

@media screen and (max-width: 1300px) {
  #bgAttached #contactsSection .contactContent {
    width: 35%;
  }
}

@media screen and (max-width: 1100px) {
  #bgAttached #contactsSection .contactContent {
    width: 40%;
  }
  #bgAttached #contactsSection .contactContent .emailBox {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  #bgAttached {
    height: 120vh;
  }
  #bgAttached #contactsSection {
    flex-direction: column;
  }
  #bgAttached #contactsSection .contactContent {
    width: 60%;
    margin: 5rem;
  }
}

@media screen and (max-width: 700px) {
  #bgAttached #contactsSection .contactContent {
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  #bgAttached #contactsSection .contactContent {
    margin: 3rem;
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  #bgAttached #contactsSection .contactContent {
    margin: 3.5rem;
    width: 90%;
  }
  #bgAttached #contactsSection .contactContent h1 {
    font-size: 2.5rem;
  }
  #bgAttached #contactsSection .contactContent h2 {
    font-size: 1.5rem;
  }
}