/* Font Family */

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler/Butler_Medium.otf');
}

@font-face {
    font-family: 'Butler Bold';
    src: url('../fonts/Butler/Butler_Bold.otf');
}

@font-face {
    font-family: 'Butler Extra Bold';
    src: url('../fonts/Butler/Butler_ExtraBold.otf');
}

@font-face {
    font-family: 'Butler Light';
    src: url('../fonts/Butler/Butler_Light.otf');
}

@font-face {
    font-family: 'Butler Extra Light';
    src: url('../fonts/Butler/Butler_Ultra_Light.otf');
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header, .header:before {
    background: 50% 50% / cover;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(0, 0, 0, 0.3) url('../img/infrastructureBgPic.jpg');
    background-blend-mode: darken;
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
    opacity: 0.80;
}

.Container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    /* background: grey; */
    background: grey;
    line-height: 30px;
    font-weight: lighter;
    padding: 40px;
    color: black;
    text-transform: capitalize;
    opacity: .83;
}

.container__career h1 {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    font-size: 6em;
    font-family: "Butler", serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* color: black; */
    color: white;
}

.header {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 2rem;
    margin-top: 4rem;
    color: white;
    text-decoration: none;
    font-family: 'Butler Light', serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    transition: color 0.5s;
}
.logo:hover{
    color: rgb(213, 101, 27);
}

.container__career {
    height: 100vh;
}

.line {
    align-self: end;
    width: 50%;
    border-right: 1px solid white;
    height: 30%;
    position: relative;
    top: 26%;
}

.line::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0 11px;
    border-color: white transparent transparent transparent;
    right: -.7em;
    bottom: -2px;
}

.left {
    display: flex;
    flex-direction: row;
    /* border: 2px solid orangered; */
}

.right {
    display: flex;
    flex-direction: row;
}

#box1 {
    border-top: 5px solid rgb(213, 101, 27);
    width: 47%;
    margin: 30px;
    border-radius: 10px;
    padding: 2rem;
    padding: 2rem;
    background-color: white;
}

#box1 h3{
    font-size: 22px;
    margin: 5px 0px;
    font-family: "butler",serif;
    font-weight: bold;
    margin-left: 14px;
}

#box1 p{
    padding: auto;
    font-family: 'butler',serif;
    letter-spacing: 1px;
    margin-left: 14px;
}

#box2 {
    border-top: 5px solid rgb(213, 101, 27);
    width: 57%;
    margin: 20px;
    padding: 2rem;
    border-radius: 10px;
    font-family: "butler",serif;
    background-color: white;
}

#box2 h3{
    font-size: 22px;
    margin: 5px 0px;
    font-family: "butler",serif;
    font-weight: bold;
    margin-left: 14px;
}

#box2 p{
    padding: auto;
    font-family: 'butler',serif;
    letter-spacing: 1px;
    margin-left: 14px;
}

#box3 {
    border-top: 5px solid rgb(213, 101, 27);
    width: 100%;
    margin-top: 10px;
    margin-left: 80px;
    padding: 2rem;
    height: 100%;
    border-radius: 10px;
    background-color: white;
}

#box3 h1{
    margin-top: 6px;
    font-size: larger;
    font-family: "butler",serif;
    margin-bottom: 4px;
    display: flex;
    font-size: 22px;
    align-items: center;
    /* justify-content: center; */
    font-weight: bold;
    margin-left: 15px;
}

.contentlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: "butler",serif ;
}

.contentlist > div{
    margin: 2rem 0;
    width: 30%;
}

@media (max-width: 1000px) {
    .container__career h1{
        font-size: 5em;
        margin-top: 2em;
    }
}

@media only screen and (max-width: 900px) {
    .left {
        display: flex;
        flex-direction: column;
    }
    .right {
        display: flex;
        flex-direction: column;
    }
    #box1, #box2, #box3 {
        width: 90%;
        margin-right: 10px;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 800px) {
    .container__career h1{
        font-size: 4em;
        margin-top: 2.8em;
    }
}

@media only screen and (max-width: 650px) {
    .logo{
        font-size: 2.5rem;
    }
    .container__career h1{
        font-size: 3em;
        margin-top: 4.2em;
    }
    .contentlist{
        flex-direction: column;
    }
    .contentlist > div{
        margin: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .logo{
        font-size: 2rem;
    }
    .container__career h1{
        font-size: 2em;
        margin-top: 7em;
    }
}

@media only screen and (max-width: 350px) {
    .logo{
        font-size: 1.5rem;
    }
    .container__career h1{
        font-size: 1.5em;
        margin-top: 9.8em;
    }
}