/* Font Family */

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler/Butler_Medium.otf');
}

@font-face {
    font-family: 'Butler Bold';
    src: url('../fonts/Butler/Butler_Bold.otf');
}

@font-face {
    font-family: 'Butler Extra Bold';
    src: url('../fonts/Butler/Butler_ExtraBold.otf');
}

@font-face {
    font-family: 'Butler Light';
    src: url('../fonts/Butler/Butler_Light.otf');
}

@font-face {
    font-family: 'Butler Extra Light';
    src: url('../fonts/Butler/Butler_Ultra_Light.otf');
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.header, .header:before {
    background: 50% 50% / cover;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(0, 0, 0, 0.5) url('../img/productsBgPic.jpg');
    background-blend-mode: darken;
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
    opacity: 0.9;
}

.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: grey;
    line-height: 30px;
    font-weight: lighter;
    padding: 40px;
    color: grey;
    text-transform: capitalize;
    opacity: .95;
}

.container__About h1 {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    font-family: "Butler", serif;
    font-size: 8em;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* color: black; */
    color: white;
}

.header {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 2rem;
    margin-top: 4rem;
    /* color: black; */
    color: white;
    text-decoration: none;
    font-family: 'Butler Light', serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    transition: color 0.5s;
}

.logo:hover {
    color: rgb(213, 101, 27);
}

.container__About {
    height: 100vh;
}

.line {
    align-self: end;
    width: 50%;
    border-right: 1px solid white;
    height: 30%;
    top: 15%;
    position: relative;
}

.line::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0 11px;
    border-color: white transparent transparent transparent;
    right: -.7em;
    bottom: -2px;
}

.cards {
    width: 100%;
    height: auto;
}

.card {
    margin: 6%;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 21.25%;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    float: left;
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
    /* overflow: hidden; */
}

.card__img {
    object-fit: cover;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__img:hover {
    transform: scale(1.01);
    overflow: hidden;
}

.card__info {
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 16px 24px 24px 24px;
    text-align: center;
}

.card__category {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
    background-color: #fff;
}

.card__title {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 500;
    color: black;
    background-color: #fff;
    margin: 2px;
}

#Button {
    color: #868686;
    background-color: #fff;
}

button {
    padding: 5px 8px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 15px;
    color: #868686;
    background-color: #fff;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 4px;
}

@media (min-width:510px) and (max-width:831px) {
    .card {
        float: none;
        margin: 5%;
        width: 80%;
    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width:510px) {
    .card {
        float: none;
        margin: 5%;
        width: 70%;
    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}